<html>
  <head>
    <title>
      Human Annotation Platform
    </title>
    <link rel="stylesheet" href="jquery-ui/themes/base/jquery-ui.css" />
    <link rel="stylesheet" href="style.css" />

    <script src="jquery-ui/jquery-1.9.1.js"></script>
    <script src="jquery-ui/ui/jquery-ui.js"></script>
    <script src="script.js"></script>
    <script src="data-partial.js"></script>
  </head>
  <body>
    <h1>Let's annotate!</h1>
    <div id="container">
      <ul>
      </ul>
    </div>
  </body>
</html>
